.selector-for-some-widget {
  box-sizing: content-box;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.roboto-condensed-fontMe{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
}
.hero{
  background-image: url(../src/images/investmentHeroImg.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .hero-text{
    width: 100%;
  }
  .hero-img{
    width: 750px;
  }
}

.about{
  .about-us-text{
    width: 100%;
  }
}

.started-steps-and-features{
  width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .hero{
    .hero-text{
      width: 50%;
    }
  }
  .about{
    .about-us-text{
      width: 50%;
    }
  }
  .started-steps{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
 }
