.selector-for-some-widget {
  box-sizing: content-box;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.roboto-condensed-fontMe{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
}
.hero{
  background-image: url(../src/images/investmentHeroImg.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
  .hero-img{
    width: 750px;
  }
}
.hero-text{
  width: 100%;
  position: relative;
}
.hero-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  animation: showRight 5s ease forwards;
  animation-delay: 1s;
}

@keyframes showRight {
  0% {
    width: 100%; /* Start with full width */
  }
  100% {
    width: 0; /* Gradually reduce width to 0% */
  }
}
.navbar2{
  position: relative;
}
.navbar2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  animation: showRight 5s ease forwards;
  animation-delay: 1s;
}

.about{
  .about-us-text{
    width: 100%;
  }
}

.started-steps-and-features{
  width: 100%;
}

/* contact */
.contact{
  margin-top: 30px;
  .contact-img{
    width: 250px;
  }
  form{
    width: 300px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .hero{
    .hero-text{
      width: 70%;
    }
  }
  .about{
    .about-us-text{
      width: 50%;
    }
  }
  .started-steps{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .sign-in{
    width: 500px;
  }

  .contact{
    margin-top: 80px;
    .contact-img{
      width: 500px ;
    }
    form{
      width: 600px;
    }
  }
  
 }
